* {
    margin: 0;
    padding: 0;
    font-family: "Lato",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Droid Sans","Tahoma",sans-serif;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    margin-right: 0;
    margin-left: auto;
}

nav ul{
    display: flex;
    align-items: center;
    min-width: 500px;
    font-size: 18px;
    font-weight: bold;
}

nav ul li{
    padding: 12px;
}

.hero-image {
    background-image: url("https://www.hackyourfuture.dk/static/hero.jpg");
    background-position: right center;
    background-position: cover;
    height: 863px;
}

.blue-logo {
    width: 100px;
}

.white-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
}